
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  header{
    background-color: aqua;
    height: 60px;
  }
  
  .debug{
    border: 2px solid black;
  }
  
  header nav ul{
    display: flex;
    list-style: none;
  }


.container{
  width: 100%;
  margin: 0 auto;

/* ********** HEADER ********* */



}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 0 10px;
}

header .container{
  height: 100%;
}

header .navbar .row{
  background-color:orange;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

nav ul li a{
  margin: 0 10px;
  text-decoration: none;
  padding: 5px 10px;
}

/* ********** /HEADER ********* */

/* ********** MAIN ************ */
main{
  width: 100%;
  margin: 0 auto;
}
.container-first{
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  ;

}

.fucsia{
  background-color: fuchsia;
  width: 700px;
  height: 250px;
  border: 2px solid black;
  margin: 30px;
}

.container-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 650px;
}

.sidebar{
  width:550px;
  min-height: 500px;
  background-color: cornflowerblue;
}

.pink{
  background-color: pink;
  width:350px;
  min-height: 500px;
}

.lightgray{
  background-color: lightgray;
}

.black{
background-color: black;

}

.container-fourth{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth{
  width: 900px;
  min-height: 700px;
  background-color: darkgreen;
  margin: 60px
}


.container-fifth{
  display:flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.red{
  background-color: lightcoral;
  min-height: 500px;
  width: 300px;
  margin-top: 20px;
}

.acqua{
  background-color: lightskyblue;
  min-height: 500px;
  width: 150px;
  margin-top: 20px;
}

/* ********** /MAIN *********** */